<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
        rel="stylesheet"
        href="/stylesheet/nav.css" />

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
        integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com" />
    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Sofia&display=swap"
        rel="stylesheet" />

    <link
        href="https://fonts.cdnfonts.com/css/built-titling"
        rel="stylesheet" />

    <div class="bg-img">
        <img
            src="/images/logo2.png"
            alt="" />
    </div>
</head>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div
            class="content"
            style="width: 50% !important">
            <div
                class="card"
                style="max-width: 33%">
                <div style="padding-top: 3%">
                    <img
                        src="/<%=data.image %>"
                        alt=""
                        class="img-thumbnail"
                        style="width: 80%; align-self: center"
                        width="100" />
                </div>
                <h3><%= data.name %></h3>
                <p class="title"><%= data.title %></p>
                <p><%= data.id %></p>
                <p>warnings : <%= data.staffScore.warnings %></p>
                <p>
                    Rate : <% var rate = 0 ; var total = 0; var count = 0 %> <%
                    data.staffScore.sessions.forEach(function(session) { total =
                    total + session.sum; count = count + 1 })%> <% rate = (total
                    /(count * 100) )* 100 ; if(isNaN(rate)){ rate = 0 ; } else {
                    data.staffScore.rate = rate } %> <%= rate.toFixed(2) %>%
                </p>
            </div>

            <% data.staffScore.sessions.forEach((ses , index) => { %>

            <h4>Session <%= index + 1 %></h4>

            <table
                class="table table-striped table-hover text-center m-11 align-middle"
                style="width: 80%">
                <thead>
                    <tr
                        class="table-dark"
                        style="width: 50%">
                        <th scope="col">Date</th>
                        <th scope="col">Attended</th>
                        <th scope="col">Arrival time</th>
                        <th scope="col">Commitment</th>
                    </tr>
                </thead>

                <tbody>
                    <tr scope="row">
                        <td scope="row"><%= ses.date %></td>
                        <td scope="row"><%= ses.attendance %></td>
                        <td scope="row"><%= ses.arrival_time %></td>
                        <td scope="row"><%= ses.commitment %></td>
                    </tr>
                </tbody>
            </table>

            <table
                class="table table-striped table-hover text-center m-11 align-middle"
                style="width: 100%">
                <thead>
                    <tr
                        class="table-dark"
                        style="width: 70%">
                        <th scope="col">Flexability</th>
                        <th scope="col">Attitude</th>
                        <th scope="col">Task</th>
                    </tr>

                    <tr
                        class="table-dark"
                        style="width: 70%"></tr>
                </thead>

                <tbody>
                    <tr scope="row">
                        <td><%= ses.flex %></td>
                        <td><%= ses.attitude %></td>
                        <td><%= ses.task %></td>
                    </tr>
                </tbody>
            </table>

            <table
                class="table table-striped table-hover text-center m-11 align-middle"
                style="width: 100%">
                <thead>
                    <tr
                        class="table-dark"
                        style="width: 70%">
                        <th scope="col">Active</th>
                        <th scope="col">Self development</th>
                        <th scope="col">Applying</th>
                    </tr>

                    <tr
                        class="table-dark"
                        style="width: 70%"></tr>
                </thead>

                <tbody>
                    <tr scope="row">
                        <td><%= ses.active %></td>
                        <td scope="row"><%= ses.self_development %></td>
                        <td scope="row"><%= ses.applying %></td>
                    </tr>
                </tbody>
            </table>

            <table
                class="table table-striped table-hover text-center m-11 align-middle"
                style="width: 100%">
                <thead>
                    <tr
                        class="table-dark"
                        style="width: 70%">
                        <th scope="col">Bonus</th>
                        <th scope="col">Sum</th>
                    </tr>

                    <tr
                        class="table-dark"
                        style="width: 70%"></tr>
                </thead>

                <tbody>
                    <tr scope="row">
                        <td scope="row"><%= ses.bonus %></td>
                        <td scope="row"><%= ses.sum %> / 100</td>
                    </tr>
                </tbody>
            </table>

            <table
                class="table table-striped table-hover text-center m-11 align-middle"
                style="width: 100%">
                <thead>
                    <tr
                        class="table-dark"
                        style="width: 70%">
                        <th scope="col">Message</th>
                    </tr>

                    <tr
                        class="table-dark"
                        style="width: 70%"></tr>
                </thead>

                <tbody>
                    <tr scope="row">
                        <td scope="row"><%= ses.message %></td>
                    </tr>
                </tbody>
            </table>

            <% }) %>
        </div>
    </body>
</html>
